@font-face {
  src: url(./fonts/Roboto.woff);
  font-family: "Roboto";
}

@font-face {
  src: url(./fonts/Tangerine-Regular.ttf);
  font-family: "Tangerine";
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
li,
ul {
  margin: 0;
 
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8cb0f8;
}

a {
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}