.about-content {
  padding: 60px 40px;
}

.about-content {
  max-width: 900px;
  line-height: 1.5;
  text-align: center;
}

.article {
  color: blueviolet;
  padding-top: 20px;
  font-weight: 600;
}

@media (max-width: 600px) {
  ul {
    padding: 0;
    margin: 0;
  }
}
