.about-content {
  padding: 60px 40px;
}

.about-content p {
  font-size: 20px;
  max-width: 900px;
  line-height: 1.5;
  text-align: center;
  color:rgb(47, 25, 59)
}

@media (max-width: 600px) {
  ul {
    padding: 0;
    margin: 0;
  }
}